In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/content/drive/MyDrive/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin-1')
print (df)

       Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]

In [4]:
sum_wine_2015_2018_production = df[df['Item'] == 'Wine'].groupby('Item')[['Y2015', 'Y2018']].sum()  # the Dataframe is Filtered to include only rows where the 'Item' column is equal to 'Wine
                                                                                                    #groupby operation using the 'Item' column
print("Total sum of Wine produced in 2015:", sum_wine_2015_2018_production['Y2015'].values[0]) #this line of code will print the output of the total sume of wine produced in 2015
print("Total sum of Wine produced in 2018:", sum_wine_2015_2018_production['Y2018'].values[0]) #this line of code will print the output of the total sum of wine produced in 2018

Total sum of Wine produced in 2015: 4251.81
Total sum of Wine produced in 2018: 4039.32

In [6]:
selected_year_area = df[['Y2017', 'Area']]  #Selecting the 'Y2017' and 'Area' columns.
grouped_area = selected_year_area.groupby('Area').sum().reset_index() #Performing  a groupby operation on the 'Area' column.
grouped_area_sorted = grouped_area.sort_values(by='Y2017') #Sorting the results by the sum of 'Y2017' in ascending order.

seventh_lowest = grouped_area_sorted.iloc[6]  # Indexing starts from 0
area_with_seventh_lowest_sum_2017 = seventh_lowest['Area']

print("Area with the 7th lowest sum in 2017:", area_with_seventh_lowest_sum_2017)

Area with the 7th lowest sum in 2017: Guinea-Bissau

In [7]:
sum_2017_processing = df[df['Element'] == 'Processing'].groupby('Element')['Y2017'].sum() # filter the dataframe to include only rows where 'Element'column is equal to 'Processing' then group by 'Element
print("Total sum of 2017 Processing is:", sum_2017_processing)

Total sum of 2017 Processing is: Element
Processing    292836.0
Name: Y2017, dtype: float64

In [8]:
total_number_unique_countries = df['Area'].nunique() # count the number of unique values in the area which represent the country


print("Total number of unique countries in the dataset:", total_number_unique_countries) # Print the total number of unique countries in the dataset

Total number of unique countries in the dataset: 49

In [9]:
sum_stock_variation = df[df['Element'] == 'Stock Variation'].groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum() #Filter the DataFrame to include only rows where the 'Element' column is equal to 'Stock Variation'
#then a groupby operation is done using the 'Element' column.
#the sum of the years were calculated 'Y2014', 'Y2015', 'Y2016', 'Y2017', and 'Y2018' columns for each group.

year_heighest_sum = sum_stock_variation.idxmax(axis=1)[0] # Find the year with the highest sum of Stock Variation


print("The Year with the highest sum of Stock Variation is:", year_heighest_sum) ## Print the year with the highest sum of Stock Variation

The Year with the highest sum of Stock Variation is: Y2014

In [10]:
total_protein_2015_Madagascar = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]['Y2015'].sum()
#This code filters the DataFrame to include only rows where the 'Area' column is 'Madagascar' and the 'Element' column is 'Protein supply quantity (g/capita/day)
#Then, sums up the values from the 'Y2015' column for these rows,
print("Total Protein supply in 2015 in Madagascar:", total_protein_2015_Madagascar)
# Print the total protein supply in 2015 in Madagascar

Total Protein supply in 2015 in Madagascar: 173.04999999999998

In [11]:
missing_data2014 = df['Y2014'].isnull().sum()
total_data2014 = df['Y2014'].shape[0]

# Calculate percentage of missing data
percentage_missing_2014 = (missing_data2014/total_data2014) * 100

# Print the total data and percentage of missing data in 2014
print("Total  missing data in 2014:", missing_data2014)
print("Percentage of 2014 missing:", "{:.3f}%".format(percentage_missing_2014))

Total  missing data in 2014: 1589
Percentage of 2014 missing: 2.607%

In [12]:
selected_year_area = df[['Y2017', 'Area']]
grouped = selected_year_area.groupby('Area').sum()
area_highestsum_2017 = grouped.idxmax()[0]

print("Area with highest sum in 2017:", area_highestsum_2017)

Area with highest sum in 2017: Nigeria

In [13]:

correlation_with_element_code = {}


for year_column in df.columns[df.columns.str.startswith('Y')]: ## Iterate over each year column
    correlation = df['Element Code'].corr(df[year_column])
    correlation_with_element_code[year_column] = correlation


min_corr_year = min(correlation_with_element_code, key=correlation_with_element_code.get) ## Find the year with the minimum correlation coefficient
min_corr_value = correlation_with_element_code[min_corr_year]

print("Year with the least correlation with 'Element Code':", min_corr_year)
print("Correlation coefficient:", min_corr_value)

Year with the least correlation with 'Element Code': Y2016
Correlation coefficient: 0.023443997584961424